include LICENSE
include README.md
include NEWS.md
include python/README.python.md
include po/POTFILES.in
include po/libcredit-master.pot
include po/*.po
include python/test/*.py
include testcases/README.md
include testcases/*.ttl
include testcases/*.out
